<h3>Kaggle Challenge</h3>
<h1>Expedia Hotel Recommendations</h1>
<hr style="height:2px;border:none;color:#333;background-color:#333;"/>
<b>Part II - Data Processing</b>

### Imports

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10.0, 7.0)

In [ ]:
expediaDF = pd.read_csv('data/train.csv.gz', 
                         nrows=1000000,
                        compression='gzip',
                        error_bad_lines=False)

In [2]:
testingDF = pd.read_csv('data/test.csv.gz', 
                        nrows=100000,
                        compression='gzip',
                        error_bad_lines=False)

In [3]:
missingValues = expediaDF.isnull().sum().sort_values(ascending=False)
print('**Missing values** ')
print(missingValues[missingValues > 0])

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,0,3,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,0,10,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,0,1,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,1,10,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,0,0,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538
5,5,2015-07-21 11:58:45,2,3,66,311,48189,359.8521,51,0,0,0,2015-07-22,2015-07-24,4,0,2,11827,1,2,50,447
6,6,2015-07-29 07:58:39,2,3,66,311,48189,237.3465,51,0,0,10,2015-08-02,2015-08-03,2,0,1,8271,1,2,50,696
7,7,2015-08-01 20:13:15,2,3,66,348,24811,216.5785,51,0,0,10,2015-08-03,2015-08-04,2,0,1,8291,1,2,50,191
8,8,2015-11-07 12:29:09,2,3,66,311,48189,2337.6754,51,0,0,0,2015-12-30,2015-12-31,2,0,1,8250,1,2,50,628
9,9,2015-11-08 16:21:37,2,3,66,311,48189,2539.7995,51,0,0,10,2016-01-02,2016-01-03,2,0,1,9145,1,2,50,364
10,10,2015-11-08 17:43:50,2,3,66,311,48189,2660.9654,51,0,0,10,2016-01-05,2016-01-06,2,0,1,12267,6,2,50,1230
11,11,2015-08-10 13:35:02,11,3,214,120,44496,NaN,56,0,0,10,2015-08-18,2015-08-21,2,1,1,20813,6,6,70,312
12,12,2015-06-03 10:45:51,2,3,57,342,5021,NaN,57,0,0,10,2015-06-05,2015-06-08,2,0,1,11353,1,2,50,699
13,13,2015-06-19 10:16:08,2,3,57,342,5021,NaN,57,0,0,5,2015-06-25,2015-06-26,2,0,1,8826,1,4,47,1501
14,14,2015-07-14 08:24:18,2,3,57,342,5021,NaN,57,0,0,5,2015-08-03,2015-08-04,2,0,1,8228,1,2,198,371
15,15,2015-07-14 08:48:48,2,3,57,342,5021,NaN,57,0,0,5,2015-08-04,2015-08-09,2,0,1,1886,1,2,198,789
16,16,2015-07-22 11:34:00,2,3,57,342,5021,NaN,57,0,0,5,2015-08-16,2015-08-19,2,1,1,8268,1,2,50,682
17,17,2015-07-23 13:00:59,2,3,57,342,5021,NaN,57,0,0,5,2015-08-01,2015-08-09,3,1,1,12008,1,2,50,686
18,18,2015-08-18 12:37:10,2,3,57,342,5021,NaN,57,0,0,5,2015-08-19,2015-08-20,2,0,1,8243,1,2,50,409
19,19,2015-08-24 12:25:11,2,3,57,342,5021,NaN,57,0,0,5,2015-08-26,2015-08-31,2,0,1,8809,1,2,50,698
20,20,2015-09-01 06:09:06,2,3,57,342,5021,NaN,57,0,0,5,2015-09-01,2015-09-03,2,0,1,8219,1,2,50,688
21,21,2015-09-09 10:13:24,2,3,57,342,5021,NaN,57,0,0,5,2015-09-11,2015-09-13,2,0,1,8260,1,2,50,701
22,22,2015-09-25 15:08:33,2,3,57,342,5021,NaN,57,0,0,5,2015-11-22,2015-11-29,2,0,1,8826,1,4,47,1511
23,23,2015-10-14 08:43:34,2,3,57,342,5021,NaN,57,0,0,5,2015-10-16,2015-10-18,2,0,1,1152,1,4,47,1502
24,24,2015-12-12 12:00:04,2,3,57,342,5021,NaN,57,0,0,5,2016-01-28,2016-02-01,2,0,1,8267,1,2,50,675
25,25,2015-10-14 11:53:41,2,3,66,174,24103,2452.2781,65,0,0,2,2015-11-25,2015-11-29,1,0,1,8267,1,2,50,675
26,26,2015-08-21 21:36:18,11,3,205,135,36086,7449.5906,87,0,0,3,2015-08-23,2015-08-24,2,0,1,8217,1,0,34,43
27,27,2015-05-28 19:44:39,2,3,66,174,5938,25.8282,98,0,0,10,2015-06-12,2015-06-14,2,0,1,4406,3,2,50,368
28,28,2015-12-17 02:04:00,2,3,66,435,39058,534.3984,102,0,0,10,2015-12-21,2015-12-22,2,0,1,26437,6,2,50,856
29,29,2015-03-04 17:33:44,2,3,66,226,20170,911.1921,108,0,1,0,2015-05-01,2015-05-04,2,0,1,8791,1,4,8,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,99970,2015-01-16 04:47:00,2,3,66,403,39840,52.3757,332721,0,0,5,2015-01-16,2015-01-18,2,0,1,17859,1,2,50,427
99971,99971,2015-01-23 13:20:30,2,3,66,403,26322,NaN,332721,0,0,5,2015-07-06,2015-07-11,1,0,8,23001,6,6,70,1902
99972,99972,2015-01-26 13:18:04,2,3,66,403,26322,NaN,332721,0,0,5,2015-04-06,2015-04-11,2,0,2,23198,6,6,170,313
99973,99973,2015-01-27 09:11:28,2,3,66,403,26322,NaN,332721,0,0,5,2015-03-15,2015-03-17,2,0,2,23971,1,6,77,1884
99974,99974,2015-02-05 08:55:22,2,3,66,403,26322,NaN,332721,0,0,5,2015-03-17,2015-03-18,1,1,8,14804,1,6,77,774
99975,99975,2015-02-05 09:09:30,2,3,66,403,26322,NaN,332721,0,0,5,2015-03-18,2015-03-22,8,1,4,8788,1,6,77,2
99976,99976,2015-02-09 05:00:08,2,3,66,442,18617,NaN,332721,0,0,5,2015-03-27,2015-04-02,2,0,1,36951,4,6,105,1822
99977,99977,2015-02-10 04:47:02,2,3,66,442,18617,NaN,332721,0,0,5,2015-02-14,2015-02-16,2,0,1,15444,1,2,50,568
99978,99978,2015-02-11 10:48:11,2,3,66,403,26322,NaN,332721,0,0,5,2015-03-07,2015-03-08,1,0,1,8739,1,6,144,4
99979,99979,2015-02-12 12:30:51,2,3,66,403,26322,NaN,332721,0,0,5,2015-03-10,2015-03-11,1,0,1,22727,6,6,144,1496
99980,99980,2015-02-18 12:45:13,2,3,66,403,26322,NaN,332721,0,0,5,2015-06-12,2015-06-14,1,0,6,51146,4,6,31,305
99981,99981,2015-02-18 12:54:36,2,3,66,403,26322,NaN,332721,0,0,5,2015-06-16,2015-06-17,1,0,6,25219,6,6,31,304
99982,99982,2015-03-11 02:22:14,2,3,46,157,34868,1167.0816,332721,0,0,5,2015-03-12,2015-03-13,2,0,1,22794,6,6,77,1895
99983,99983,2015-03-18 02:28:58,2,3,55,12,40448,NaN,332721,0,0,5,2015-03-18,2015-03-20,1,0,1,8903,3,6,77,1880
99984,99984,2015-03-25 07:33:42,2,3,133,20,3392,NaN,332721,0,0,5,2015-03-25,2015-03-26,1,0,1,20944,6,6,204,188
99985,99985,2015-04-08 06:22:17,2,3,1,436,385,334.0905,332721,0,0,5,2015-04-08,2015-04-09,1,0,1,43468,6,6,105,29
99986,99986,2015-04-24 00:20:07,2,3,66,226,54017,NaN,332721,1,0,5,2015-04-24,2015-04-25,1,0,1,55083,3,6,144,1376
99987,99987,2015-05-13 08:41:48,2,3,66,403,26322,NaN,332721,0,0,5,2015-06-21,2015-06-23,2,0,2,22689,6,6,144,1370
99988,99988,2015-05-14 08:22:35,2,3,66,403,26322,NaN,332721,0,0,5,2016-03-27,2016-03-30,1,0,8,18843,1,6,105,1873
99989,99989,2015-05-27 14:17:41,2,3,66,403,26322,NaN,332721,0,0,5,2015-07-07,2015-07-12,2,0,1,2049,3,6,70,1929
99990,99990,2015-05-29 10:18:48,2,3,66,403,26322,NaN,332721,0,0,5,2015-06-20,2015-06-21,1,1,1,23183,3,6,144,7
99991,99991,2015-06-03 11:43:26,2,3,66,174,24103,17.7181,332721,0,0,5,2015-06-06,2015-06-07,2,0,1,4942,3,2,50,365
99992,99992,2015-09-09 12:47:12,2,3,66,403,26322,NaN,332721,0,0,1,2015-10-05,2015-10-06,1,0,1,24897,6,2,50,675
99993,99993,2015-02-02 22:43:36,37,1,69,612,3062,NaN,332742,1,0,9,2015-02-08,2015-02-09,2,0,1,8804,1,6,70,134
99994,99994,2015-03-14 19:50:39,2,3,66,442,53078,4867.2201,332747,0,0,9,2015-05-10,2015-05-11,2,0,1,23507,6,6,70,19
99995,99995,2015-07-15 05:16:04,2,3,66,442,28620,9167.6486,332747,0,0,10,2015-08-21,2015-08-23,2,1,1,21393,4,3,182,46
99996,99996,2015-09-08 00:31:42,2,3,66,442,41566,9433.7606,332747,0,0,10,2015-09-30,2015-10-01,1,0,1,9541,1,3,104,51
99997,99997,2015-09-15 02:20:39,2,3,0,275,49723,NaN,332747,0,0,10,2015-12-20,2015-12-24,3,0,2,12206,6,2,50,628
99998,99998,2015-09-22 21:36:29,2,3,66,442,28620,411.7322,332747,0,0,10,2015-09-24,2015-09-25,1,0,1,66,1,2,50,423
99999,99999,2015-05-11 09:32:58,2,3,66,184,2037,789.0281,332751,0,0,10,2015-08-05,2015-08-09,2,1,1,12799,5,2,50,633

In [ ]:
print(13525001/37670293)